.navBar {
    background: gray;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5em;
    height: 2.5em;
    align-items: center;
}
.logo {
    height: 100%;
}
.logo img {
    object-fit: contain;
    width: 100%;
    height: 100%
    
}
.navLinks {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    gap: 1em;

}
.navLinks a {
    color: black;

}
.socials {

}